
    <h3 align="center"> Review Student Applications for Projects </h3>
     <input type="text" ng-model="searchText" placeholder="Search Keywords" class="form-control">
            <table class="table table-striped">
			<tr>
			<td><label>Date</label></td><td><label>First Name</label></td><td><label>Last Name</label></td><td><label>Gender</label></td><td><label>Email</label></td><td><label>Department</label></td>
			<td><label>College</label></td><td><label>Major</label></td><td><label>Selected Project</label></td><td><label>Skill Item</label></td><td><label>Approve</label></td><td><label>Reject</label></td>
			</tr>
			<tr ng-repeat="user in vm.membs | filter:searchText">
			<td><a data-toggle="tooltip" data-placement="top" title={{user.appliedDate}}>{{user.appliedDate}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.firstName}}>{{user.firstName}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.lastName}}>{{user.lastName}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.gender}}>{{user.gender}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.email}}>{{user.email}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.department}}>{{user.department}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.college}}>{{user.college}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.major}}>{{user.major}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.project}}>{{user.project}}</a></td>
			<!-- User Story #1144 -->
			<td><a data-toggle="tooltip" data-placement="top" title={{user.skillItem}}>{{user.skillItem}}</a></td>
			<td>
            <div class="text-center">
                <button style= "width: 50px;" class="btn btn-success btn-block" ng-click="vm.ApproveData(user)">
                    <i></i> Yes
                </button>
                </div>
			</td>
			<td>
            <div class="text-center">
                <button style= "width: 50px;" class="btn btn-danger btn-block" ng-click="vm.RejectData(user)">
                    <i></i> No
                </button>
			</td>
			</tr>
			</div>

			</div>
<br>
</table>
<h3 align="center"> Review Student Applications History</h3>
<table class="table table-striped" style="overflow: scroll; overflow-y: hidden;">
   <thead>
      <td><label>Date</label></td><td><label>First Name</label></td><td><label>Last Name</label></td><td><label>Gender</label></td><td><label>Email</label></td><td><label>Department</label></td>
      <td><label>College</label></td><td><label>Major</label></td><td><label>Selected Project</label></td><td><label>Skill Item</label></td><td><label>Action</label></td><td><label>Undo</label></td>
   </thead>
   <tbody>
      <tr ng-repeat="log in vm.logs | filter:{ type: 'student' } | filter:searchText">
      <td><a data-toggle="tooltip" data-placement="top" title={{log.appliedDate}}>{{log.appliedDate}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.firstName}}>{{log.firstName}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.lastName}}>{{log.lastName}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.gender}}>{{log.gender}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.studentemail}}>{{log.studentemail}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.department}}>{{log.department}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.college}}>{{log.college}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.major}}>{{log.major}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.selectProject}}>{{log.selectProject}}</a></td>
      <!-- User Story #1144 -->
      <td><a data-toggle="tooltip" data-placement="top" title={{log.skillItem}}>{{log.skillItem}}</a></td>
      <td>{{log.action}}</td>
      <td>
         <div class="text-center">
             <button style= "width: 75px;" class="btn btn-danger btn-block" ng-click="vm.UndoStudent(log)">
                 <i></i> Undo
             </button>
             </div>
      </td>
      <td>
         <div class="text-center">
             <button style= "width: 75px;" class="btn btn-danger btn-block" ng-click="vm.DeleteLog(log)">
                 <i></i> Delete
             </button>
             </div>
      </td>
      </tr>
   </tbody>
<br>
</table>

</div>
