
    <h3 align="center"> Review Student Applications for Projects </h3>
     <input type="text" ng-model="searchText" placeholder="Search Keywords" class="form-control">
     <div class="table" style="overflow: scroll; overflow-y: hidden;">
            <table class="table table-striped">
			<tr>
			<td ng-click="orderByFieldApp='appliedDate'; reverseSortApp = !reverseSortApp"><label>Date</label></td>
         <td ng-click="orderByFieldApp='firstName'; reverseSortApp = !reverseSortApp"><label>First Name</label></td>
         <td ng-click="orderByFieldApp='lastName'; reverseSortApp = !reverseSortApp"><label>Last Name</label></td>
         <td ng-click="orderByFieldApp='gender'; reverseSortApp = !reverseSortApp"><label>Gender</label></td>
         <td ng-click="orderByFieldApp='email'; reverseSortApp = !reverseSortApp"><label>Email</label></td>
         <td ng-click="orderByFieldApp='department'; reverseSortApp = !reverseSortApp"><label>Department</label></td>
			<td ng-click="orderByFieldApp='college'; reverseSortApp = !reverseSortApp"><label>College</label></td>
         <td ng-click="orderByFieldApp='major'; reverseSortApp = !reverseSortApp"><label>Major</label></td>
         <td ng-click="orderByFieldApp='project'; reverseSortApp = !reverseSortApp"><label>Selected Project</label></td>
         <td ng-click="orderByFieldApp='skillItem'; reverseSortApp = !reverseSortApp"><label>Skill Item</label></td>
         <td ng-click="orderByFieldApp='appliedDate'; reverseSortApp = !reverseSortApp"><label>Approve</label></td>
         <td ng-click="orderByFieldApp='appliedDate'; reverseSortApp = !reverseSortApp"><label>Reject</label></td>
			</tr>
			<tr ng-repeat="user in vm.membs | filter:searchText">
			<td><a data-toggle="tooltip" data-placement="top" title={{user.appliedDate}}>{{user.appliedDate}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.firstName}}>{{user.firstName}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.lastName}}>{{user.lastName}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.gender}}>{{user.gender}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.email}}>{{user.email}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.department}}>{{user.department}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.college}}>{{user.college}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.major}}>{{user.major}}</a></td>
			<td><a data-toggle="tooltip" data-placement="top" title={{user.project}}>{{user.project}}</a></td>
			<!-- User Story #1144 -->
			<td><a data-toggle="tooltip" data-placement="top" title={{user.skillItem}}>{{user.skillItem}}</a></td>
			<td>
            <div class="text-center">
                <button style= "width: 50px;" class="btn btn-success btn-block" ng-click="vm.ApproveData(user)">
                    <i></i> Yes
                </button>
                </div>
			</td>
			<td>
            <div class="text-center">
                <button style= "width: 50px;" class="btn btn-danger btn-block" ng-click="vm.RejectData(user)">
                    <i></i> No
                </button>
			</td>
			</tr>
			</div>

<br>
</table>
</div>
<h3 align="center"> Review Student Applications History</h3>
<div class="table" style="overflow: scroll; overflow-y: hidden;">
<table class="table table-striped" style="overflow: scroll; overflow-y: hidden;">
   <thead>
      <td ng-click="orderByField='appliedDate'; reverseSort = !reverseSort"><label>Date</label></td>
      <td ng-click="orderByField='firstName'; reverseSort = !reverseSort"><label>First Name</label></td>
      <td ng-click="orderByField='lastName'; reverseSort = !reverseSort"><label>Last Name</label></td>
      <td ng-click="orderByField='gender'; reverseSort = !reverseSort"><label>Gender</label></td>
      <td ng-click="orderByField='studentemail'; reverseSort = !reverseSort"><label>Email</label></td>
      <td ng-click="orderByField='department'; reverseSort = !reverseSort"><label>Department</label></td>
      <td ng-click="orderByField='college'; reverseSort = !reverseSort"><label>College</label></td>
      <td ng-click="orderByField='major'; reverseSort = !reverseSort"><label>Major</label></td>
      <td ng-click="orderByField='selectProject'; reverseSort = !reverseSort"><label>Selected Project</label></td>
      <td ng-click="orderByField='skillItem'; reverseSort = !reverseSort"><label>Skill Item</label></td>
      <td ng-click="orderByField='action'; reverseSort = !reverseSort"><label>Action</label></td>
      <td><label>Undo</label></td>
   </thead>
   <tbody>
      <tr ng-repeat="log in vm.logs | filter:{ type: 'student' } | filter:searchText | orderBy:orderByField:reverseSort">
      <td><a data-toggle="tooltip" data-placement="top" title={{log.appliedDate}}>{{log.appliedDate}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.firstName}}>{{log.firstName}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.lastName}}>{{log.lastName}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.gender}}>{{log.gender}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.studentemail}}>{{log.studentemail}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.department}}>{{log.department}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.college}}>{{log.college}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.major}}>{{log.major}}</a></td>
      <td><a data-toggle="tooltip" data-placement="top" title={{log.selectProject}}>{{log.selectProject}}</a></td>
      <!-- User Story #1144 -->
      <td><a data-toggle="tooltip" data-placement="top" title={{log.skillItem}}>{{log.skillItem}}</a></td>
      <td>{{log.action}}</td>
      <td>
         <div class="text-center">
             <button style= "width: 75px;" class="btn btn-danger btn-block" ng-click="vm.UndoStudent(log)">
                 <i></i> Undo
             </button>
             </div>
      </td>
      <td>
         <div class="text-center">
             <button style= "width: 75px;" class="btn btn-danger btn-block" ng-click="vm.DeleteLog(log)">
                 <i></i> Delete
             </button>
             </div>
      </td>
      </tr>
   </tbody>
<br>
</table>
</div>
</div>
