<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.1-master-a687bfc/angular-material.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css">
    <link rel="stylesheet" type="text/css" href="adminpanel.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>

<style>

</style>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
<div style="width:100%;">

   <nav>
       <div class="container-fluid">
           <div class="navbar-header">
                <a class="navbar-brand" style="color:#333333;">Admin Panel</a>
           </div>
           <ul class="nav navbar-nav" style="padding-right: 1%">
             <li>
                  <button style="float:right;" ng-click="routeAdminMaint()" ng-model="routeUserMaint"
                           class="btn second-button btn-default navbar-btn">
                           Admin Maintenance
                  </button>
             </li>
              <li>
                   <button style="float:right;" ng-click="routeUserMaint()" ng-model="routeUserMaint"
                           class="btn second-button btn-default navbar-btn">
                           User Maintenance
                   </button>
              </li>
              <li>
                   <button style="float:right;" ng-click="routeProjectMaintenance()" ng-model="routeUserMaint"
                           class="btn second-button btn-default navbar-btn">
                           Project Maintenance
                   </button>
              </li>
              <li>
                   <button style="float:right;" ng-click="routeSemesterMaintenance()" ng-model="routeUserMaint"
                           class="btn second-button btn-default navbar-btn">
                           Semester Maintenance
                   </button>
              </li>
           </ul>
       </div>
   </nav>

    <div ng-show="showAdminPage">


	<!-- .................................................... -->

    <!-- .................................................... -->
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <h3 align="center"> Unconfirmed Users (For Dev Only)</h3>
            <div class="form-group">
                <table class="table">
                    <tr>
                       <input type="text" ng-model="selectUser" placeholder="Search for student" uib-typeahead="user as '['+user.userType+'] '+user.firstName + ' ' + user.lastName for user in vm.filteredusers | filter:{firstName:$viewValue} | limitTo:8" class="form-control" ng-blur="vm.selectUser(selectUser)">

                        <select class="form-control" ng-model="Selecteduserconfirm"
                                ng-options="user as '['+user.userType+'] '+user.firstName + ' ' + user.lastName for user in vm.filteredusers"
                                value="{{vm.userinUnconfirmedfunc(Selecteduserconfirm)}}"></select>
                    </tr>
                    <tr>
                        <th>
                            <button style="width: 80px;" class="btn btn-success btn-block" ng-click="vm.ConfirmUser()">
                                Confirm
                            </button>
                        </th>
                        <th>
                            <button style="width: 80px;" class="btn btn-danger btn-block" ng-click="vm.RejectUser()">
                                Delete
                            </button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- .................................................... -->
    <!--Joe's User Story -->
    <div class="row">
        <!--
            This button is to add new terms to the terms collection in Mongo, leave commented out unless you are planning to add a new collection
            Take Note, this button allows duplicates, so be careful, or you'll have to manually remove duplicate terms from the db
                    <button  ng-click="vm.AddTerms()">Add Terms</button> -->



        <!--Dafna's code-->

        <!--<button ng-click="vm.addsetting()"> Add "Settings" Collection </button>-->
        <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>Owner</th>-->
        <!--<th>Current Index</th>-->
        <!--<th>Email Options</th>-->
        <!--<th>ID</th>-->
        <!--<th> Delete?</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>{{vm.adminSettings.owner}}</td>-->
        <!--<td>{{vm.adminSettings.current_email}}</td>-->
        <!--<td>{{vm.adminSettings.emails}}</td>-->
        <!--<td>{{vm.adminSettings._id}}</td>-->
        <!--<td> <button ng-click="vm.deletesetting(vm.adminSettings)">Delete</button></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->

        <div class="col-md-6 panel panel-default">
            <h3 align="center" style="margin-bottom: 0px">Admin Email</h3>
            <p align="center"><b>{{vm.adminSettings.current_email}}</b></p>

            <div class="form-group">

                <table class="table">
                    <tr>
                        <th>

                            <ul class="list-group">
                                <button class="list-group-item" ng-repeat="email in vm.adminSettings.emails"
                                        ng-click="vm.toggleactive($event)" value="{{email}}"
                                        ng-class="email === vm.adminSettings.current_email ? 'active' : ''">
                                    {{email}}
                                    <a ng-click="vm.deleteemail(email)">
                                        <span class="pull-right fa fa-times fa-lg fa-fw"
                                              style="padding-top: 5px"></span>
                                    </a>
                                </button>
                            </ul>

                            <div class="input-group">
                                <input class="form-control" type="email" ng-model="newEmail">
                                <span class="input-group-btn">
							<button class="btn" type="submit" ng-click="vm.addemail()">Add New</button>
						</span>
                            </div>
                        </th>
                    </tr>

                    <table class="table">
                        <tr>
                            <th>
                                <button style="width: 80px;" ng-click="vm.savesetting()"
                                        class="btn btn-success btn-block">Change
                                </button>
                            </th>
                            <th>
                                <button style="width: 80px;" ng-click="vm.loadsettings()"
                                        class="btn btn-success btn-danger">Revert
                                </button>
                            </th>
                        </tr>

                    </table>
                </table>
            </div>
        </div>
        <!--Dafna's code-->

        <div class="col-md-6 panel panel-default">
            <h3 align="center">Email Signature</h3>
            <div class="form-group">
                <table class="table">
                    <tr>
                        <th>
                            <b>Email Signature:</b>
                            <textarea class="form-control" rows="3" ng-model="vm.adminSettings.emailSignature"></textarea>
                        </th>
                    </tr>
                </table>
                <table class="table" style="height: 1px;">
                    <tr>
                        <th>
                            <button style= "width: 80px;" ng-click="vm.changeEmailSignature()" class="btn btn-success btn-block">Change</button>
                        </th>
                        <th>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-show="showUserMaint">
   <div>
    <div class="panel panel-default" style="width:100%;">
      <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" style="color:#333333;">Admin Panel - User List</a>
              </div>
              <ul class="nav navbar-nav navbar-right" style="padding-right: 1%">
            <li>
                      <button style="float:right;" ng-click="simple=false"
                              class="btn second-button btn-default navbar-btn">
                  <i class="fa fa-minus" aria-hidden="true"></i> Simple Layout
               </button>
                  </li>
            <li>
                      &nbsp;<button style="float:right;" ng-click="simple=true"
                              class="btn second-button btn-default navbar-btn">
                  <i class="fa fa-plus" aria-hidden="true"></i> Complex Layout
               </button>
                  </li>
                  <li>
                      &nbsp;<button style="float:right;" ng-click="vm.uncheck()" ng-model="refresh"
                          class="btn second-button btn-default navbar-btn">
                          <i class="fa fa-refresh" aria-hidden="true"></i> Refresh Filters
                      </button>
                  </li>
                  <li>
                      &nbsp;<button style="float:right;" ng-click="vm.exportData()"
                                    class="btn second-button btn-default navbar-btn">
                      <span><img style="width:20px;height:18px;" src="img/Excel-icon.png"></span> Excel
                  </button>
                  </li>
              </ul>
          </div>
         <section id="section1">
             <table class="table table-striped table-bordered">
                 <thead style="background-color:#F2F3F4;">
                 <tr>
                     <td class="col-md-3">
                         UserType:
                         <select class="form-control" id="susertype" ng-model="selectedusertype"
                                 ng-options="typerank as typerank.name for typerank in vm.typeranks"
                                 value="{{vm.getRank(selectedusertype)}}">
								 <option value=""></option>
						 </select>
                     </td>
                     <td class="col-md-3">
                         UserRank:
                         <select class="form-control" ng-model="selecteduserrank"
                                 ng-options="rank for rank in vm.filteredrank">
								 <option value=""></option>
						 </select>
                     </td>
                     <td class="col-md-3">
                         Project:
                         <select class="form-control" ng-model="selecteduserproject"
                                 ng-options="projects as projects.title for projects in vm.projects"
                                 value="{{vm.getStudents(SelectedProject)}}">
								 <option value=""></option>
						 </select>
                     </td>
               <td class="col-md-3">
                         Semester:
                         <select class="form-control" ng-model="chosenterm"
                                 ng-options="terms as terms.name for terms in vm.terms">
								 <option value=""></option>
						 </select>
                     </td>
                 </tr>
                 <br/>
                 <tr>
                         <td class="col-md-3" ng-show="simple"><input type="checkbox" ng-model="selectedPiApproval">Unconfirmed Users</input></td>
                         <td class="col-md-3" ng-show="simple"><input type="checkbox" ng-model="selectedGoogle">Gmail Login</input></td>
                     </tr>
                 </tbody>
             </table>
         </section>

         <div class="table" style="overflow: scroll; overflow-y: hidden;">
             <table id="adminTable" class="table table-striped">
                <thead id="header" style="background-color:#ABB2B9;">

                <tr id="headerLabels">
             <th></th>
                    <th></th>
             <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Panther ID</th>
                    <th>User Type</th>
                    <th ng-show="simple">College</th>
                    <th>Project</th>
                    <th ng-show="simple">Gender</th>
                    <th ng-show="simple">Joined Project</th>
                    <th ng-show="simple">Rank</th>
                    <th ng-show="simple">Mentor</th>
                    <th>Pi Approval</th>
             <th>Semester</th>
                    <th ng-show="simple">Multiple Project</th>
                    <th ng-show="simple">Proj App Date</th>
                    <th ng-show="simple">User Reg Date</th>
                    <th ng-show="simple">First Login Date</th>
                </tr>

                <tr id="headerInputs">
             <th></th>
                    <th></th>
             <th></th>
                    <th><input class="form-control" type="text" ng-model="query1"/></th>
                    <th><input type="text" class="form-control" ng-model="query2"/></th>
                    <th><input type="text" class="form-control" ng-model="query3"/></th>
                    <th><input type="text" class="form-control" ng-model="query4"/></th>
                    <th><input type="text" class="form-control" ng-model="query5"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query6"/></th>
                    <th><input type="text" class="form-control" ng-model="query7"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query8"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query9"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query10"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query11"/></th>
                    <th><input type="text" class="form-control" ng-model="query12"/></th>
             <th><input type="text" class="form-control" ng-model="query13"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query14"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query15"/></th>
                    <th ng-show="simple"><input type="text" class="form-control" ng-model="query16"/></th>
             <th ng-show="simple"><input type="text" class="form-control" ng-model="query17"/></th>
                </tr>
                </thead>

                <tbody>

          <tr>
             <td>
                        <button class="btn btn-info btn-block" ng-hide="user.userType == 'Pi/CoPi'"
                       data-toggle="modal" data-target="#addUserModal">
                       <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                    </td>
          </tr>

          <tr dir-paginate="user in (filteredItems = ( vm.tabledata | filter:query1| filter:query2| filter:query3| filter:query4| filter:query5| filter:query6| filter:query7| filter:query8| filter:query9| filter:query10 | filter:query11 | filter:query12 | filter:query13 | filter: selectedusertype? {userType: selectedusertype.name}:'' | filter: selecteduserrank? {rank: selecteduserrank}:'' | filter: selecteduserproject? {project: selecteduserproject.title}:'' | filter: selectedGoogle? {email: 'fiu.edu' || 'gmail.com'}:'' | filter: selectedPiApproval? {piApproval: false}:'' | filter: selectedTerm? {semester: selectedTerm.name}:'' | filter:query14 | filter:query15 | filter:query16 | filter: query17 )) | itemsPerPage: 10" pagination-id="usersPage">

                    <td>
                        <button class="btn btn-info btn-block" ng-click="vm.impersonate(user)"
                                ng-hide="user.userType == 'Pi/CoPi'">
                       <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-hide="user.userType == 'Pi/CoPi'" ng-click="vm.editUser(user)"
                       data-toggle="modal" data-target="#editUserModal">
                       <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-hide="user.userType == 'Pi/CoPi'" ng-click="vm.selectDeleteUser(user)"
                                data-toggle="modal" data-target="#deleteModal">
                       <i class="fa fa-user-times" aria-hidden="true"></i>
                        </button>
                    </td>

                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td class="center">{{user.pantherID}}</td>
                    <td>{{user.userType}}</td>
                    <td ng-show="simple">{{user.college}}</td>
                    <td>{{user.project}}</td>
                    <td class="center" ng-show="simple">{{user.gender}}</td>
                    <td ng-show="simple">{{user.joined_project}}</td>
                    <td class="center" ng-show="simple">{{user.rank}}</td>
                    <td ng-show="simple">{{user.mentor}}</td>
                    <td class="center">{{user.piApproval}}</td>
                    <td>{{user.semester}}</td>
                    <td ng-show="simple">{{user.multipleproject}}</td>
                    <td ng-show="simple">{{user.appliedDate}}</td>
                    <td ng-show="simple">{{user.RegDate}}</td>
                    <td ng-show="simple">{{user.firstlogin_date}}</td>
                </tr>
                </tbody>
             </table>
             <dir-pagination-controls pagination-id="usersPage"></dir-pagination-controls>
         </div>
    </div>
   </div>
   <div class="modal fade" id="addUserModal" role="dialog">
 <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header">
           <h3>Add New User</h3>
        </div>
        <div class="modal-body">
           <form role="role" class="form-horizontal">
             <div class="form-group">
                 <div class="col-sm-3">
                    <label>First Name (required)</label>
                    <input class="form-control" type="text" ng-model="addUserFirstName"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Last Name (required)</label>
                    <input class="form-control" type="text" ng-model="addUserLastName"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Panther ID</label>
                    <input class="form-control" type="text" ng-model="addUserPID"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Gender</label>
                    <select class="form-control" ng-model="addUserGender" id="ddGenderA"
                          ng-options="gender.type for gender in vm.genderOptions">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-4">
                    <label>Email (required)</label>
                    <input class="form-control" type="text" ng-model="addUserEmail"/>
                 </div>
                 <div class="col-sm-4">
                    <label>Password</label>
                    <input class="form-control" type="text" ng-model="addUserPassword"/>
                 </div>
                 <div class="col-sm-4">
                    <label>College</label>
                    <select class="form-control" ng-model="addUserCollege" id="ddCollegeA"
                          ng-options="college as college.name for college in vm.colleges">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-4">
                    <label>User Type</label>
                    <select class="form-control" ng-model="addUserType" id="ddUserTypeA"
                                ng-options="typerank as typerank.name for typerank in vm.typeranks"
                       ng-change="vm.getAddRanks(addUserType)">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>User Rank</label>
                    <select class="form-control" ng-model="addUserRank" id="ddRankA"
                                ng-options="rank for rank in vm.addRanks">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>PI Approval</label>
                    <select class="form-control" ng-model="addUserPIApproval" id="ddPIApprovalA"
                          ng-options="approval.type for approval in vm.booleanOptions">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-8">
                    <label>Project</label>
                    <select class="form-control" ng-model="addUserProject" id="ddProjectA"
                          ng-options="projects as projects.title for projects in vm.allprojects | filter: addUserTerm? {semester: addUserTerm.name}:'' ">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>Semester</label>
                    <select class="form-control" ng-model="addUserTerm" id="ddTermA"
                          ng-options="terms as terms.name for terms in vm.terms | filter: addUserProject? {name: addUserProject.semester}:'' ">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addedUserModal"
                 ng-click="vm.addUser()">Add User</button>
        </div>
     </div>
 </div>
</div>

<div class="modal fade" id="addedUserModal" role="dialog">
 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <label id="addUserMessage"></label>
        </div>
        <div class="modal-body">
           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.updateTableAdd()">OK</button>
        </div>
     </div>
 </div>
</div>

<div class="modal fade" id="editUserModal" role="dialog">
 <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header">
           <h3>Edit User</h3>
        </div>
        <div class="modal-body">
           <form role="role" class="form-horizontal">
             <div class="form-group">
                 <div class="col-sm-3">
                    <label>First Name (required)</label>
                    <input class="form-control" type="text" ng-model="editUserFirstName"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Last Name (required)</label>
                    <input class="form-control" type="text" ng-model="editUserLastName"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Panther ID</label>
                    <input class="form-control" type="text" ng-model="editUserPID"/>
                 </div>
                 <div class="col-sm-3">
                    <label>Gender</label>
                    <select class="form-control" ng-model="editUserGender" id="ddGender"
                          ng-options="gender.type for gender in vm.genderOptions">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-6">
                    <label>Email (required)</label>
                    <input class="form-control" type="text" ng-model="editUserEmail"/>
                 </div>
                 <div class="col-sm-6">
                    <label>College</label>
                    <select class="form-control" ng-model="editUserCollege" id="ddCollege"
                          ng-options="college as college.name for college in vm.colleges">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-4">
                    <label>User Type</label>
                    <select class="form-control" ng-model="editUserType" id="ddUserType"
                                ng-options="typerank as typerank.name for typerank in vm.typeranks"
                       ng-change="vm.getEditRanks(editUserType)">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>User Rank</label>
                    <select class="form-control" ng-model="editUserRank" id="ddRank"
                          ng-options="rank for rank in vm.editRanks">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>PI Approval</label>
                    <select class="form-control" ng-model="editUserPIApproval" id="ddPIApproval"
                          ng-options="approval.type for approval in vm.booleanOptions">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-8">
                    <label>Project</label>
                    <select class="form-control" ng-model="editUserProject" id="ddProject"
                          ng-options="projects as projects.title for projects in vm.allprojects | filter: editUserTerm? {semester: editUserTerm.name}:'' ">
                       <option value=""></option>
                    </select>
                 </div>
                 <div class="col-sm-4">
                    <label>Semester</label>
                    <select class="form-control" ng-model="editUserTerm" id="ddTerm"
                          ng-options="terms as terms.name for terms in vm.terms | filter: editUserProject? {name: editUserProject.semester}:'' ">
                       <option value=""></option>
                    </select>
                 </div>
             </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editSavedChangesModal"
                 ng-click="vm.saveChangesUser()">Save changes</button>
        </div>
     </div>
 </div>
</div>

<div class="modal fade" id="editSavedChangesModal" role="dialog">
 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <label id="editUserMessage">Editing user was successful</label>
        </div>
        <div class="modal-body">
           <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
     </div>
 </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <h3>Are you sure you wish to delete this user?</h3>
        </div>
        <div class="modal-body">
           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteUser()"
                 data-toggle="modal" data-target="#deletedModal">Yes</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
     </div>
 </div>
</div>

<div class="modal fade" id="deletedModal" role="dialog">
 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <label id="deleteUserMessage"></label>
        </div>
        <div class="modal-body">
           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.updateTableDelete()">OK</button>
        </div>
     </div>
 </div>
</div>
</div>
<div ng-show="showSemesterMaint">

           <div class="col-md-6 panel panel-default">
               <h3 align="center"> Lock/Unlock Semester </h3>
               <div class="form-group">
                   <table class="table">
                       <tr>
                           <th>
                               <b>Term:</b> <select class="form-control" ng-model="selectedTerm"
                                                    ng-options="terms as terms.name for terms in vm.terms"
                                                    value="{{vm.currentTerm(selectedTerm)}}"></select>
                           </th>
                       </tr>
                       <tr>
                           <th>
                               <b>change Semester's status to: </b>
                           </th>
                       </tr>
                       <tr>
                           <th>
                               <select class="form-control" ng-model="selectedTermStatus"
                                       ng-options="terms as terms for terms in vm.active"
                                       value="{{vm.currentTerm(selectedTerm)}}"></select>
                           </th>
                       </tr>
                   </table>
                   <table class="table" style="height: 1px;">
                       <tr>
                           <th>
                               <button style="width: 80px;" ng-click="vm.nw()" class="btn btn-success btn-block">Change
                               </button>
                           </th>
                           <th>
                           </th>
                       </tr>
                   </table>
               </div>
           </div>

           <div class="col-md-6 panel panel-default">
               <h3 align="center"> Open/Close Semester </h3>
               <div class="form-group">
                   <table class="table">
                       <tr>
                           <th>
                               <b>Term:</b>
                               <select class="form-control" ng-model="selectedTerm"
                                       ng-options="terms as terms.name for terms in vm.terms"
                                       value="{{vm.currentTerm(selectedTerm)}}"></select>
                           </th>
                       </tr>
                       <tr>
                           <th>
                               <b>Open or close the selected semester: </b>
                           </th>
                       </tr>
                       <tr>
                           <th>
                               <select class="form-control" ng-model="selectedOpenStatus"
                                       ng-options="terms as terms for terms in vm.open"
                                       value="{{vm.currentTerm(selectedTerm)}}"></select>
                           </th>
                       </tr>
                   </table>
                   <table class="table" style="height: 1px;">
                       <tr>
                           <th>
                               <button style="width: 80px;" ng-click="vm.ocs()" class="btn btn-success btn-block">Change
                               </button>
                           </th>
                           <th>
                           </th>
                       </tr>
                   </table>
               </div>
           </div>
</div>
<div ng-show="showProjectMaint">
   <div>
		<div class="panel panel-default" style="width:100%;">
         <nav>
    <div class="container-fluid">
         <div class="navbar-header">
             <a class="navbar-brand" style="color:#333333;">Admin Panel - Projects List</a>
         </div>
         <ul class="nav navbar-nav navbar-right" style="padding-right: 1%">
      <li>
                 <button style="float:right;" ng-click="simpleP=false"
                        class="btn second-button btn-default navbar-btn">
             <i class="fa fa-minus" aria-hidden="true"></i> Simple Layout
          </button>
             </li>
      <li>
                 &nbsp;<button style="float:right;" ng-click="simpleP=true"
                        class="btn second-button btn-default navbar-btn">
             <i class="fa fa-plus" aria-hidden="true"></i> Complex Layout
          </button>
             </li>
             <li>
                 &nbsp;<button style="float:right;" ng-click="vm.uncheckp()" ng-model="refresh"
                        class="btn second-button btn-default navbar-btn">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Refresh Filters
                 </button>
             </li>
         </ul>
    </div>
</nav>

<section id="section2">
    <table class="table table-striped table-bordered">
         <thead style="background-color:#F2F3F4;">
         <tr>
      <td class="col-md-3">
                 Owner:
                 <select class="form-control" id="powner" ng-model="selectedPOwner"
                        ng-options="owners as owners.owner_name for owners in vm.allprojects">
             <option value=""></option>
          </select>
             </td>
             <td class="col-md-3">
                 Semester:
                 <select class="form-control" id="pterm" ng-model="selectedPTerm"
                        ng-options="terms as terms.name for terms in vm.terms">
             <option value=""></option>
          </select>
             </td>
      <td class="col-md-3">
                 Status:
                 <select class="form-control" id="pstatus" ng-model="selectedPStatus"
                        ng-options="status as status.type for status in vm.statusList">
             <option value=""></option>
          </select>
             </td>
         </tr>
         <br/>
         </tbody>
    </table>
</section>

			<div class="table" style="overflow: scroll; overflow-y: hidden;">
                <table id="adminTable" class="table table-striped">
                   <thead id="header" style="background-color:#ABB2B9;">

                   <tr id="headerPLabels">
					 <th></th>
					 <th></th>
					 <th></th>
					 <th>Title</th>
					 <th>Owner</th>
					 <th ng-show="simpleP">Owner Rank</th>
					 <th>Owner Email</th>
					 <th>Semester</th>
					 <th>Status</th>
					 <th ng-show="simpleP">Mentor</th>
					 <th ng-show="simpleP">Faculty</th>
					 <th>Students</th>
					 <th ng-show="simpleP">Description</th>
					 <th ng-show="simpleP">Max Students</th>
					 <th ng-show="simpleP">Video URL</th>
                   </tr>

                   <tr id="headerInputs">
					 <th></th>
					 <th></th>
					 <th></th>
					 <th><input class="form-control" type="text" ng-model="queryp1"/></th>
					 <th><input type="text" class="form-control" ng-model="queryp2"/></th>
				     <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp3"/></th>
					 <th><input type="text" class="form-control" ng-model="queryp4"/></th>
				     <th><input type="text" class="form-control" ng-model="queryp5"/></th>
					 <th><input type="text" class="form-control" ng-model="queryp6"/></th>
					 <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp7"/></th>
					 <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp8"/></th>
					 <th><input type="text" class="form-control" ng-model="queryp9"/></th>
					 <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp10"/></th>
					 <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp11"/></th>
					 <th ng-show="simpleP"><input type="text" class="form-control" ng-model="queryp12"/></th>
				   </tr>
                   </thead>

                    <tbody>

                    <tr dir-paginate="project in (filteredPItems = ( vm.tabledata_p | filter: selectedPStatus? {status: selectedPStatus.type}:'' | filter: selectedPOwner? {owner_name: selectedPOwner.owner_name}:'' | filter: selectedPTerm? {semester: selectedPTerm.name}:''| filter:queryp1| filter:queryp2| filter:queryp3| filter:queryp4| filter:queryp5| filter:queryp6| filter:queryp7| filter:queryp8| filter:queryp9| filter:queryp10 ))|itemsPerPage: 10"
                    pagination-id="projectsPage"
                    >
                    <td>
                            <button class="btn btn-info" ng-click="vm.editProject(project)"
									data-toggle="modal" data-target="#editProjectModal">
									<i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
						<td>
                            <button class="btn btn-primary" ng-click="vm.editProjectUsers(project)"
									data-toggle="modal" data-target="#editProjectUsersModal">
									<i class="fa fa-user" aria-hidden="true"></i>
                            </button>
						</td>
						<td>
							<button class="btn btn-danger" ng-click="vm.selectDeleteProject(project)"
                                    data-toggle="modal" data-target="#deletePModal">
									<i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
						<td>{{project.title}}</td>
                        <td>{{project.owner_name}}</td>
						<td ng-show="simpleP">{{project.owner_rank}}</td>
                        <td>{{project.owner_email}}</td>
                        <td>{{project.semester}}</td>
                        <td>{{project.status}}</td>
						<td ng-show="simpleP">{{project.mentor.name}}</td>
                        <td ng-show="simpleP">{{project.faculty.name}}</td>
                        <td>{{project.members_detailed.toString()}}</td>
						<td ng-show="simpleP">{{project.description.toString()}}</td>
                        <td ng-show="simpleP">{{project.maxStudents}}</td>
                        <td ng-show="simpleP">{{project.video_url}}</td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls
                 max-size="5"
                 direction-links="true"
                 boundary-links="true"
                 pagination-id="projectsPage"
                 >
              </dir-pagination-controls>
            </div>
		</div>
	</div>

   <!-- Project Edit/Delete Modal Dialogs.................................................... -->

   	<div class="modal fade" id="editProjectModal" role="dialog">
   		<div class="modal-dialog modal-lg">
   			<div class="modal-content">
   				<div class="modal-header">
   					<h3>Edit Project</h3>
   				</div>
   				<div class="modal-body">
   					<form role="role" class="form-horizontal">
   						<div class="form-group">
   							<div class="col-sm-8">
   								<label>Project Title (required)</label>
   								<input class="form-control" type="text" ng-model="editPTitle"/>
   							</div>
   							<div class="col-sm-4">
   								<label>Semester</label>
   								<select class="form-control" ng-model="editPTerm" id="ddTermP"
   										ng-options="terms as terms.name for terms in vm.terms">
   									<option value=""></option>
   								</select>
   							</div>
   						</div>
   						<div class="form-group">
   							<div class = "textContainer">
   								<label>Project Description</label>
   								<trix-editor angular-trix class="trix" ng-model="editPDescription" name="" rows="4" required></trix-editor>
   							</div>
   						</div>
   						<div class="form-group">
   							<div class="col-sm-8">
   								<label>(Filter Owner)</label>
   								<input class="form-control" type="text" ng-model="editPFilterOwner"/>
   							</div>
   							<div class="col-sm-4">
   								<label>Max Students</label>
   								<input class="form-control" type="text" ng-model="editPMaxStudents"/>
   							</div>
   						</div>
   						<div class="form-group">
   							<div class="col-sm-8">
   								<label>Project Owner</label>
   								<select class="form-control" ng-model="editPOwner" id="ddOwnerP"
   										ng-options="user as user.firstName + ' ' + user.lastName for user in vm.allusers | filter: editPFilterOwner? editPFilterOwner:''">
   									<option value=""></option>
   								</select>
   							</div>
   							<div class="col-sm-4">
   								<label>Status</label>
   								<select class="form-control" ng-model="editPStatus" id="ddStatusP"
   										ng-options="status as status.type for status in vm.statusList">
   								</select>
   							</div>
   						</div>
   						<div class="form-group">
   							<div class = "textContainer">
   								<label>Video URL</label>
   								<input class="form-control" type="text" ng-model="editPUrl"/>
   							</div>
   						</div>
   					</form>
   				</div>
   				<div class="modal-footer">
   					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   					<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editSavedChangesPModal"
   							ng-click="vm.saveChangesProject()">Save changes</button>
   				</div>
   			</div>
   		</div>
   	</div>

   	<div class="modal fade" id="editProjectUsersModal" role="dialog">
   		<div class="modal-dialog">
   			<div class="modal-content">
   				<div class="modal-header">
   					<label>Add/Remove Students from Project</label>
   				</div>
   				<div class="modal-body">
   					<form role="role" class="form-horizontal">
   						<div class="form-group">
   							<table class="table table-striped">
   								<tr>
   									<td>
   									</td>
   									<td>
   										<input type="text" class="form-control" ng-model="studentQuery"/>
   									</td>
   								</tr>
   								<tr>
   									<td>
   										<button type="button" class="btn btn-primary" ng-click="vm.addStudentProject()">
   											<i class="fa fa-user-plus" aria-hidden="true"></i>
   										</button>
   									</td>
   									<td>
   										<select class="form-control" ng-model="addPUser"
   												ng-options="user as user.firstName + ' ' + user.lastName for user in vm.allusers | filter: {userType: 'Student'} | filter: studentQuery? studentQuery:'' ">
   											<option value=""></option>
   										</select>
   									</td>
   								</tr>
   								<tr ng-repeat="student in vm.editingProject.members_detailed">
   									<td>
   										<button class="btn btn-danger" ng-click="vm.removeStudentProject(student)">
   											<i class="fa fa-user-times" aria-hidden="true"></i>
   										</button>
   									</td>
   									<td>{{student}}</td>
   								</tr>
   							</table>
   						</div>
   					</form>
   				</div>
   				<div class="modal-footer">
   					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   					<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editSavedChangesPModal"
   							ng-click="vm.saveChangesProjectUsers()">Save changes</button>
   				</div>
   			</div>
   		</div>
   	</div>

   	<div class="modal fade" id="editSavedChangesPModal" role="dialog">
   		<div class="modal-dialog">
   			<div class="modal-content">
   				<div class="modal-header">
   					<label id="editProjectMessage">Editing project was successful</label>
   				</div>
   				<div class="modal-body">
   					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
   				</div>
   			</div>
   		</div>
   	</div>

   	<div class="modal fade" id="deletePModal" role="dialog">
   		<div class="modal-dialog">
   			<div class="modal-content">
   				<div class="modal-header">
   					<h3>Are you sure you wish to delete this project?</h3>
   				</div>
   				<div class="modal-body">
   					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteProject()"
   							data-toggle="modal" data-target="#deletedPModal">Yes</button>
   					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
   				</div>
   			</div>
   		</div>
   	</div>

   	<div class="modal fade" id="deletedPModal" role="dialog">
   		<div class="modal-dialog">
   			<div class="modal-content">
   				<div class="modal-header">
   					<label id="deleteProjectMessage"></label>
   				</div>
   				<div class="modal-body">
   					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.updatePTableDelete()">OK</button>
   				</div>
   			</div>
   		</div>
   	</div>
</div>

</html>
