<div class="row team-project">
<div class="projects-top-bar">
        <h1>VIP PROJECTS</h1>
        <div class="panel panel-default btn-feature-container">
        <button ui-sref="studentconfirminfo" class="btn btn-primary btn-feature">
        <strong>APPLY FOR A PROJECT </strong>
        <small><i>for Students</i></small></button>
        </div>
        <div class="panel panel-default btn-feature-container">
        <button ui-sref="projectProposal" class="btn btn-primary btn-feature">
        <strong>PROPOSE A PROJECT </strong>
        <small><i>for Faculty/Staff</i></small></button>
        </div>  
        <br>
        <br>
    </div>


<div ng-controller="VIPProjectsCtrl" ng-init="vm.getProjects()">


<div class="col-md-4 panel panel-default" style="max-height: 90px; width: 100%; border:none; box-shadow:none; margin-top: 40px;">
    <!--Updated User Story #1195 Ndand002-->
    <!-- <table class="table filters-table" style="max-width:50%; border: none;">
    <tr>
    <td>
     <label >Semester: </label>
    <select value="Fall" ng-options="semester as semester for semester in vm.semesters" ng-model="sem.semester"></select>
    </td>
    <td>
    <label for="semester_year">Year: </label>
    
    </td>
   
    <td>
    <label>Search: <input class="form-control" ng-model="search"></label>
    </td>
    
    </tr>
    </table>
</tr> -->


<form class="navbar-form navbar-default" role="search" style="width:100%; text-align:center; padding:7px;">
        <h3>Start by browsing current projects or browse previous projects with the filters below.</h3>
        <div class="form-group" style="padding:2px;">
                <select ng-options="semester as semester for semester in vm.semesters" ng-model="sem.semester"><option value="Fall" selected></option></select>
                <select ng-options="years as years for years in vm.years" ng-model="yr.semester"><option value="2017" selected></option></select>
        </div>
        <div class="form-group">
                <input class="form-control" ng-model="search" placeholder="search">
        </div>
        <div class="form-group">
            <button>Projects <span class="badge">{{vm.projects.length}}</span></button>
        </div>
        <!-- <div class="form-group">
                <select multiple ng-options="d as d.disciplines for d in vm.projects" ng-model="disc.disciplines"></select>
        </div> -->
        <div class="form-group">
                <i ng-if="vm.orderBy==='title'" ng-click="vm.orderBy='-title'" class="fa fa-sort-alpha-desc fa-2x"></i>
                <i ng-if="vm.orderBy==='-title'" ng-click="vm.orderBy='title'" class="fa fa-sort-alpha-asc fa-2x"></i>
        </div>
        
</form>
</div>

<br><br>
                    <!-- LOADING SPINNER -->
        <center ng-hide="vm.done">
            <img ng-hide="vm.done" width="10%" height="10%" src="img/loading.gif"/>
        </center>
                    <!-- END -->


<div class="col-md-6 project-info" 
        ng-if="vm.done"  
        ng-repeat="project in vm.projects | orderBy:vm.orderBy 
                                          | filter:search
                                          | filter:sem
                                          | filter:yr
                                          | filter:project.status = 'Active' 
                                          | filter:project.status = '!Pending'">
<div>
        <h1 ng-if="projects.length==0">Sorry, no matches. Try narrowing your search...</h1>
<img ng-src="{{project.image}}" alt="{{project.title}}" class="proj-image">
<h3 class="proj-title-teams">{{project.semester.name}} {{project.semester.year}}</h3>
<h3 class="proj-title-teams"><a ng-href="/#/vip-projects-detailed/{{project._id}}">{{project.title}}</a></h3></h3>
<h5 class="proj-title-owner">Owner: {{project.owner_name}}</h5>
<!-- User Story #1142-->
<!-- <p class="proj-descrip-teams">{{project.description}}</p>  -->
<p class="proj-descrip-teams" ng-click="vm.viewDetails(project)" style="cursor:pointer;" ng-bind-html="project.description"></p>
</div>
</div>
<div class="col-md-6 project-info" ng-if="vm.done" ng-repeat="project in vm.filteredprojects | filter: { status: 'modified' }" ng-click="vm.viewDetails(project.old_project[0])">
<div class="proj-info-box">
<img ng-src="{{project.old_project[0].image}}" alt="{{project.old_project[0].title}}" class="proj-image">
<h3 class="proj-title-teams">{{project.old_project[0].title}}</h3>
<h5 class="proj-title-owner">Owner: {{project.old_project[0].owner_name}}</h5>

<p class="proj-descrip-teams" ng-bind-html="project.old_project[0].description"></p>
    </div>
    </div>
</div>

        <!-- End here -->